<div class="carta">
    <div class="carta-header">
        <p class="carta-number carta-level">
            <%= x["level"] %> 
        </p>
        <%= link_to x["name"], "/dndspells/#{x["id"]}", class:"carta-title" %>
    </div>

    <div class="carta-subtitles">
        <% x["clases"].each do |x2|%>
            <%= x2 %>
        <% end %>
        |
        <%= x["magic_school"] %>
    </div>

    <p class="carta-description">
        <%= x["desc"] %>
    </p>
</div>