<h2><%= tittle %></h2>

<h3><%= link_to "Importar", new_habilidad_path(
    newdndspell: "",
    name:   @x["name"],
    level:  @x["level"],
    desc:   @x["desc"],
    clases: @x["clases"]+[@x["magic_school"]])
%></h3>

<%= render "dndspell", x: @x%>

<%= link_to "Edit", edit_dndspell_path(@x) %>
<%= link_to "Destroy", dndspell_path(@x), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>