<div class="carta carta_clase">
    <div class="carta-header carta-header_clase">
        <%= link_to clase.nombre, clase, class:"carta-title carta-title_clase" %>
    </div>
    <%= clase_subtitulo(clase) %>
    <div class="carta-contents">
        <div class="carta-details">
            <p class="carta-description carta-description_clase"><%= clase.efecto %></p>
            <p class="carta-description carta-description_clase"><%= clase.descripcion %></p>
        </div>
        <div class="carta-image">
            <%= render "shared/image", image: clase.image %>
        </div>
    </div>
</div>
