<div class="clase-show">
    <div class="clase-header">
        <h3 class="clase-title"><%= link_to @x.nombre, @x %></h3>
    </div>

    <div class="clase-contents">
        <div class="clase-details">
            <div class="clase-herencia">
                <div class="clase-clases bodeOscuro">
                    <h4>Madres</h4>
                    <% @x.parents.each do |cl| %>
                        <%= link_to cl.nombre, cl %>
                    <% end %>
                </div>
                <div class="clase-clases bodeOscuro">
                    <h4>Hijas</h4>
                    <% @x.childs.each do |cl| %>
                        <%= link_to cl.nombre, cl %>
                    <% end %>
                </div>
            </div>
            <p class="clase-effect"><%= @x.efecto %></p>
            <p class="clase-description"><%= @x.descripcion %></p>
        </div>
        <div class="clase-image clase-imageFixed">
            <%= render "shared/image", image: @x.image %>
        </div>
    </div>

    <h1>Lista de Hablidades relacionadas:</h1>
    <div class="grid-container">
        <% @x.habilidads.each do |habil| %>
            <%= render "habilidads/habilidad", habil: habil %>
        <% end %>
    </div>
    
    <h1>Lista de items relacionados:</h1>
    <div class="grid-container">
        <% @x.items.each do |it| %>
            <%= render "items/item", item: it %>
        <% end %>
    </div>


</div>

<%= link_to "Edit", edit_clase_path(@x) %>
<%= link_to "Destroy", clase_path(@x), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
