<div class="clase-main">
    <h1>
        <%= link_to @x.nombre, @x %>
    </h1>

    <div class="clase-contents">
        <div class="clase-details">
            <div class="clase-herencia">
                <div class="miniListadoClases">
                    <h4>Madres</h4>
                    <% @x.parents.each do |cl| %>
                        <%= link_to cl.nombre, cl, class:"carta-title" %>
                    <% end %>
                </div>
                <div class="miniListadoClases">
                    <h4>Hijas</h4>
                    <% @x.childs.each do |cl| %>
                        <%= link_to cl.nombre, cl, class:"carta-title" %>
                    <% end %>
                </div>
            </div>
            <p class="clase-description"><%= @x.efecto %></p>
            <p class="clase-description"><%= @x.descripcion %></p>
        </div>
        <div class="clase-image clase-imageFixed">
            <%= render "shared/image", image: @x.image %>
        </div>
    </div>

    <h1>Hablidades:</h1>
    <%= render "habilidads/lista", habilidades: @x.habilidads%>
    
    <h1>Items:</h1>
    <div class="grid-container">
        <% @x.items.order(:nombre).each do |it| %>
            <%= render "items/item", item: it %>
        <% end %>
    </div>


</div>

<%= link_to "Edit", edit_clase_path(@x) %>
<%= link_to "Destroy", clase_path(@x), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
