<div class="clase-main">
    <h1>
        <%= link_to @x.nombre, @x %>
    </h1>

    <div class="clase-contents">
        <div class="clase-details">
            <div class="clase-herencia">
                <% if !@x.parents.empty?%>
                    <div class="miniListadoClases">
                        <h4>Madres</h4>
                        <% @x.parents.each do |cl| %>
                            <%= link_to cl.nombre, cl, class:"carta-title" %>
                        <% end %>
                    </div>
                <% end %>
                
                <% if !@x.childs.empty?%>
                    <div class="miniListadoClases">
                        <h4>Hijas</h4>
                        <% @x.childs.each do |cl| %>
                            <%= link_to cl.nombre, cl, class:"carta-title" %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <div class="carta-subtitles">
                <% @x.categs.each do |ct| %>
                    <%= link_to ct.nombre, ct %>
                <% end %>
            </div>
            <p class="clase-description"><%= @x.efecto %></p>
            <p class="clase-description"><%= @x.descripcion %></p>
        </div>
        <div class="clase-image">
            <%= render "shared/image", image: @x.image %>
        </div>
    </div>

    <h1>Hablidades:</h1>
    <%= render "habilidads/lista", habilidades: @x.habilidads%>
    
    <% if !@x.items.empty?%>
        <h1>Items:</h1>
        <div class="grid-container">
            <% @x.items.order(:nombre).each do |it| %>
                <%= render "items/item", item: it %>
            <% end %>
        </div>
    <% end %>


</div>

<%= link_to "Edit", edit_clase_path(@x) %>
<%= link_to "Destroy", clase_path(@x), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
