<div class="carta">
    <div class="carta-header">
        <%= link_to mob.nombre, mob, class: "carta-title" %>
        <a class="mob-image" target="_blank" href="<%=mob.image.url%>"> 
            <%= render "shared/image", image: mob.image %>
        </a>
    </div>
    <div class="mob-subGrid">
        <div class="mob-estabilidad">ES: <b><%=mob.estabilidad%></b></div>
        <div class="mob-sangre">Sangre: <b><%=mob.sangre%></b></div>
        <div class="mob-oro">oro: <b><%=mob.oro%></b></div>
        <div class="mob-armMag">ArmMag: <b><%=mob.armaduraMagica%></b></div>
        <div class="mob-penFis">PenFis: <b><%=mob.penetracionFisica%></b></div>
        <div class="mob-penMag">PenMag: <b><%=mob.penetracionMagica%></b></div>
        <div class="mob-cuerpo"><%=mob.cuerpo%></div>
        <div class="mob-descripcion"><%=mob.descripcion%></div>
    </div>
    <div class="carta-subtitles mob-listado">
        <% mob.items.each do |it| %>
            <%= link_to it.nombre, it %>
        <% end %>
    </div>
</div>
