<%= form_with model: habil do |form| %>
  <div>
    <%= form.label :nombre %><br>
    <%= form.text_field :nombre %>
  </div>
  <br>

  <div>
    <%= form.label :nivel %><br>
    <%= form.number_field :nivel, in: 0..100 %><br>
  </div>
  <br>

  <div>
    <%= form.label :clase_ids, 'Clases' %><br>
    <%= form.collection_select :clase_ids, Clase.order(:nombre), :id, :nombre, {}, multiple: true, class: "form-select" %>
  </div>
  <br>
  
  <div>
    <%= form.label :item_ids, 'Items' %><br>
    <%= form.collection_select :item_ids, Item.order(:nombre), :id, :nombre, {}, multiple: true, class: "form-select" %>
  </div>
  <br>
  
  <div>
    <%= form.label :categ_ids, 'Categorías' %><br>
    <%= form.collection_select :categ_ids, Categ.order(:nombre), :id, :nombre, {}, multiple: true, class: "form-select" %>
  </div>
  <br>
  
  <div>
    <%= form.label :mob_ids, 'Mobs' %><br>
    <%= form.collection_select :mob_ids, Mob.order(:nombre), :id, :nombre, {}, multiple: true, class: "form-select" %>
  </div>
  <br>

  <div>
    <%= form.label :mobsHasHabil_ids, 'Habilidades que tiene' %><br>
    <%= form.collection_select :mobsHasHabil_ids, Mob.order(:nombre), :id, :nombre, {}, multiple: true, class: "form-select" %>
  </div>
  <br>

  <div>
    <%= form.label :efecto %><br>
    <%= form.text_area :efecto %><br>
  </div>
  <br>

  <div>
    <%= form.label :oculto %><br>
    <%= form.check_box  :oculto %><br>
  </div>
  <br>
  

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>