<%= form_with model: habil do |form| %>
  <div>
    <%= form.label :nombre %><br>
    <%= form.text_field :nombre %>
  </div>
  <br>

  <div>
    <%= form.label :nivel %><br>
    <%= form.number_field :nivel, in: 0..100 %><br>
  </div>
  <br>

  <%= render "shared/fcs", p:"clase", form: form %>
  <%= render "shared/fcs", p:"item", form: form %>
  <%= render "shared/fcs", p:"categ", form: form %>
  <%= render "shared/fcs", p:"mob", form: form %>

  <div>
    <%= form.label :mobsHasHabil_ids, 'Mobs a los que pertenece' %><br>
    <%= form.collection_select :mobsHasHabil_ids, Mob.order(:nombre), :id, :nombre, {}, multiple: true, class: "form-select" %>
  </div>
  <br>

  <div>
    <%= form.label :efecto %><br>
    <%= form.text_area :efecto %><br>
  </div>
  <br>

  <div>
    <%= form.label :oculto %><br>
    <%= form.check_box  :oculto %><br>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>