<div class="clase-item bodeOscuro">
    <div class="clase-header">
        <p class="clase-level bodeOscuro">
            <%= habil.nivel %>
        </p>
        <h3 class="clase-title"><%= link_to habil.nombre, habil %></h3>
    </div>

    <div class="clase-clases bodeOscuro">
        <% habil.clases.each do |clase| %>
            <%= link_to clase.nombre, clase %>
        <% end %>
    </div>

    <div class="clase-contents">
        <div class="clase-image">
            <%= render "shared/image", image: habil.image %>
        </div>
        <div class="clase-details">
            <p class="clase-effect clase-effectBig"><%= habil.efecto %></p>
        </div>
    </div>
</div>
