<div class="carta">
    <div class="carta-header">
        <p class="carta-number carta-coste">
            <%= item.coste %>
        </p>
        <p class="carta-number carta-peso">
            <%= item.peso %>
        </p>
        <div class="carta-title">
            <%= link_to item.nombre, item %>
        </div>
    </div>

    <div class="carta-subtitles">
        <% item.clases.each do |clase| %>
            <%= link_to clase.nombre, clase %>
        <% end %>
    </div>

    <p class="carta-description"><%= item.efecto %></p>
</div>
