
<div class="miniListadoClases">
    <% @x.categs.each do |ct| %>
        <%= link_to ct.nombre, ct, class: "carta-title" %>
    <% end %>
</div>

<div class="clase-main">
    <%= render "item", item: @x %>
<div>
<br>

<h1>Lista de Hablidades relacionadas:</h1>
<%= render "habilidads/lista", habilidades: @x.habilidads%>

<%= link_to "Edit", edit_item_path(@x) %>
<%= link_to "Destroy", item_path(@x), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
