
<% urlCompleta = "http://"+HTTParty.get('http://whatismyip.akamai.com')+":3000"
    # si este servidor falla, mirar algún otro de aquí: https://stackoverflow.com/questions/13270042/get-public-remote-ip-address
%>
<p>Dirección actual: <a href="<%=urlCompleta%>"><%=urlCompleta%><a></p>

<h2>Estas funciones son solo de administrador</h2>

<%= link_to "Crear clase", new_clase_path %>
<br>
<%= link_to "Crear habilidad", new_habilidad_path %>
<br>
<%= link_to "Crear item", new_item_path %>
<br>
<%= link_to "Añadir cuadro", new_picture_path %>
<br>