<!DOCTYPE html>
<html>
  <head>
    <title>Rolweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag "icono.png"%>
  </head>

  <body>
    <div class="navbar">
      <a href="/lore"><%= image_tag "icono.png" %></a>
      
      <div class="subnavbar">
        <h1> Doors Maze</h1>
        <ul>
          <li><a href="/lore">Lore</a></li>
          <li><a href="/reglas">Reglas</a></li>
          <li><a href="/estadosAlterados">Estados Alterados</a></li>
          <li><%= link_to "Clases", clases_path %></li>
          <li><%= link_to "Hablidades", habilidads_path %></li>
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "Galería", pictures_path %></li>
          <li><a href="/control">Control</a></li>
        </ul>
      </div>
      
    </div>
    
    <div class="inBody">
      <%= yield %>
    </div>

  </body>
</html>
