<!DOCTYPE html>
<html>
  <head>
    <title>Rolweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag "icono.png"%>
  </head>

  <body>
    <div class="navbar">
      <a href="/lore"><%= image_tag "icono.png" %></a>
      
      <div class="subnavbar">
        <h1> Doors Maze</h1>
        <ul>
          <li><a href="/reglas">Información</a></li>
          <li class="submenu">
            <%= link_to "Clases", clases_path %>
            <ul class="submenu-content clase-clases bodeOscuro">
              <b> <%= link_to "Página principal de clases", clases_path %> </b>
              <% Clase.all.sort_by(&:nombre).each do |clase| %>
                  <li><%= link_to clase.nombre, clase %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "Galería", pictures_path %></li>
          <a href="/control">Admin</a>
        </ul>
      </div>
      
    </div>
    
    <div class="inBody">
      <%= yield %>
    </div>
    

  </body>
</html>
