<!DOCTYPE html>
<html>
  <head>
    <title>Rolweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <h1>Doors Maze</h1>
      <ul>
        <li><a href="/lore">Lore</a></li>
        <li><a href="/reglas">Reglas</a></li>
        <li><a href="/estadosAlterados">Estados Alterados</a></li>
        <li><%= link_to "Clases", clases_path %></li>
        <li><%= link_to "Hablidades", habilidads_path %></li>
        <li><%= link_to "Items", items_path %></li>
      </ul>
    </div>
    
    <div class="inBody">
      <%= yield %>
    </div>

    <% urlCompleta = "http://"+HTTParty.get('http://whatismyip.akamai.com')+":3000"
       # si este servidor falla, mirar algún otro de aquí: https://stackoverflow.com/questions/13270042/get-public-remote-ip-address
    %>
    <p>Dirección actual: <a href="<%=urlCompleta%>"><%=urlCompleta%><a></p>
  </body>
</html>
