<!DOCTYPE html>
<html>
  <head>
    <title>Rolweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag "icono.png"%>
  </head>

  <body>
    <div class="navbar">
      <a href="/"><%= image_tag "icono.png" %></a>
      
      <div class="subnavbar">
        <h1> Doors Maze</h1>
        <div class="subsubnavbar">
          <a href="/reglas">Información</a>

          <div class="submenu">
            <%= link_to "Clases", clases_path %>
            <div class="submenu-content">
              <%= link_to "Página principal de clases", clases_path, class:"mainLink" %>
              <% Clase.all.sort_by(&:nombre).each do |clase| %>
                  <%= link_to clase.nombre, clase %>
              <% end %>
            </div>
          </div>

          <%= link_to "Items", items_path %>
          <%= link_to "Galería", pictures_path %>
          <a href="/control">Admin</a>
        </div>
      </div>
      
    </div>
  
    <%= yield %>

  </body>
</html>
