<!DOCTYPE html>
<html>
  <head>
    <title>Rolweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag "icono.png"%>
  </head>

  <body <%= content_for?(:body_class) ? "class=#{yield(:body_class)}" : '' %>>
    <div class="navbar">
      <a href="/"><%= image_tag "icono.png" %></a>
      
      <div class="subnavbar">
        <h1> Doors Maze</h1>
        <div class="subsubnavbar">

          <div class="submenu">
            <a href="/reglas" class="nblink">Información</a>
            <div class="submenu-content">
                <a href="/reglas">Reglas</a>
                <a href="/lore">Historia</a>
                <a href="/estadosAlterados">Estados Alterados</a>
            </div>
          </div>

          <div class="submenu">
            <%= link_to "Clases y habilidades", clases_path, class:"nblink" %>
            <div class="submenu-content">
              <%= link_to "Todas las clases", clases_path, class:"mainLink" %>
              <%= link_to "Todas las habilidades", habilidads_path, class:"mainLink" %>
              <%= link_to "Árbol de clases", "/clases-arbol", class:"mainLink" %>
              <%= link_to "Clases radicales", clases_path(mode:"radical"), class:"mainLink" %>
              <%= link_to "Razas", clases_path(mode:"raza"), class:"mainLink" %>
              <% Clase.where(oculto:true).sort_by(&:nombre).each do |clase| %>
                  <%= link_to clase.nombre, clase, class:"mainLink"  %>
              <% end %>
              <% Clase.where(oculto:false).sort_by(&:nombre).each do |clase| %>
                  <%= link_to clase.nombre, clase %>
              <% end %>
            </div>
          </div>

          <div class="submenu">
            <%= link_to "Items", items_path, class:"nblink" %>
            <div class="submenu-content">
              <%= link_to "Todos los items", items_path, class:"mainLink" %>
              <%= link_to "Cofre aleatorio", "/lootbox", class:"mainLink" %>
              <% Categ.all.sort_by(&:nombre).each do |ct| %>
                  <%= link_to ct.nombre, ct %>
              <% end %>
            </div>
          </div>
          
          <div class="submenu">
            <%= link_to "Galería", pictures_path, class:"nblink" %>
          </div>

          <div class="submenu">
            <a href="/control" class="nblink">Admin</a>
            <div class="submenu-content">
              <%= link_to "Habilidades ocultas", "/habilidads_ocultas"%>
              <%= link_to "Habilidades sueltas", "/habilidads_sueltas"%>
              <%= link_to "Ítems sin categoría", "/items_no_categ"%>
              <%= link_to "Mobs", mobs_path %>
              <%= link_to "Crear mob", new_mob_path %>
              <%= link_to "Crear clase", new_clase_path %>
              <%= link_to "Crear habilidad", new_habilidad_path %>
              <%= link_to "Crear item", new_item_path %>
              <%= link_to "Crear categoría", new_categ_path %>
              <%= link_to "Añadir cuadro", new_picture_path %>
              <%= link_to "Estados alterados", estadoalterados_path %>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  
    <%= yield %>

    
    <footer class="footbar">
      <%= link_to "Aviso legal", "/avisolegal"%>
    </footer>

  </body>
</html>
